body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Color de fondo opcional */
}

nav ul {
    border: 2px solid rgb(197, 197, 197);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Mueve los elementos a la izquierda */
    align-items: center; /* Centra los elementos verticalmente */
    background-image: linear-gradient(to bottom, #ffffff, #d3d3d3);
}

nav ul .img {
    margin-right: 40px; /* Ajusta este valor según sea necesario */
    padding-right: 100px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li button {
    background-color: rgb(23, 143, 57);
    border-radius: 40px;
    cursor: pointer;
    padding: 10px 70px;
    margin-left: 40px;

    font-size: 16px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li button:hover {
    background-color: #e1f7e9;
    color: rgb(255, 255, 255); 
    border: 2px solid #0c2717;
}
