@import url();



body, html {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

#NAVS {
    display: flex; 
    justify-content: center; 
    margin: auto;
    align-items: center; 
    width: 97%;
    height: 100px;
    
 

}
nav { 
    position: fixed; top: 0; width: 100%;
    z-index: 10000;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 0%; 
    background-image: linear-gradient(to bottom, #ffffff, #c0c0c054);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}
    

nav  img {
    margin-right: 20px;
    width: 100px;
    height: 100px;
}





nav button  {
    background-color: transparent;
    border: none;
    color: transparent; 
}

 nav button  a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #178f39;
    border-radius: 40px;
    cursor: pointer;
    margin: 15px 15px;
    padding: 15px 20px;
    font-size: 16px;
    border: 2px solid #178f39;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    
}



 nav button a:hover {
    background-color: #154127;
    color: rgb(255, 255, 255); 
    border: 2px solid #154127;
}