{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/Navegation.css' %}">
</head>
<body>
<div class="NAVS">
    <nav>
        <img src="{% static 'LOGOSINFONDO.png' %}" alt="" width="50 px" height="50 px">
        <button><a href="/HomePage">Home</a></button>
        <button><a href="/Empresas">Empresas</a></button>
        <button><a href="/Educacion">Educacion</a></button>
        <button><a href="/PaginaDeInicio">PaginaDeInicio</a></button>
        <button><a href="">IniciarSesion</a></button>
        <button><a href="">Registrarse</a></button>
        <div>
          
        </div>
    </nav>
</div>
{% block content %}
{% endblock %}
</body>
</html>